{% extends "base.html" %}

{% block title %}Romance Movies{% endblock title %}

{% block content %}
    {% for movie in movie_list %}
    {% if  "romance" in movie.genre.casefold %}
        <a href="{% url 'movie_detail' movie.pk %}" disabled="true">
            <div class="card">
                <div class="card-header">
                    <span class="font-weight-bold">{{ movie.title }}</span> &middot;
                    <span class="text-muted">by {{ movie.author }} |
                        {{ movie.date }}</span> &middot;
                </div>
                <div class="card-body">
                    {{ movie.body }} </div>
                <div class="card-body">
                        {{ movie.genre }} </div>
            </div>
        </a>
        <br/>
        {% endif %}
    {% endfor %}
{% endblock content %}